---
layout: default
title: Listens
extraCss: /_includes/listens.css
extraJs: /_includes/listens.js
---

<article>
  <header>
    <h1>Record collection</h1>
    <p>
      A wall of cover art from my record collection.
    <br>
    <small>Last updated: {{ "now" | date: "%d-%m-%Y %H:%M" }}</small>
    </p>
  </header>

  <form id="listens-filters">
    <fieldset>
      <legend>Format</legend>
      {% for format in filters.formats %}
      <label>
        <input type="checkbox" name="format" value="{{ format }}">
        {{ format }}
      </label>
      {% endfor %}
    </fieldset>

    <fieldset>
      <legend>Type</legend>
      {% for type in filters.types %}
      <label>
        <input type="checkbox" name="type" value="{{ type }}">
        {{ type }}
      </label>
      {% endfor %}
    </fieldset>

    <fieldset>
      <legend>Genre</legend>
      {% for genre in filters.genres %}
      <label>
        <input type="checkbox" name="genre" value="{{ genre }}">
        {{ genre }}
      </label>
      {% endfor %}
    </fieldset>
  </form>

  <p>
    Showing <span id="listens-count">{{records.length}}</span> of {{records.length}} records.
  </p>

  <ol role="list" id="listens-grid">
    {% for record in records %}
    <li
      data-format="{{ record.format }}"
      data-type="{{ record.type }}"
      data-genres="{{ record.genres | join: '|' }}"
    >
      <a href="{{ record.discogsUrl }}" target="_blank" rel="external">
      <img
        src="{{ record.cover }}"
        alt="{{ record.artist }} &ndash; {{ record.title }} cover art"
        loading="lazy"
        eleventy:widths="150,300,440,600"
      >
      </a>
    </li>
    {% endfor %}
  </ol>
</article>
